td {
    display: table-cell;
    vertical-align: inherit;
}
table table-bordered {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    border-color: white;
    background: blue;
}